@font-face {
  font-family: "Gotham";
  src:
    url("fonts/GothamPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  font-family: "Arial", sans-serif;
}

.nps {
  margin: auto;
}

.nps__diagram {
  position: relative;
}

.nps__diagram-svg {
  display: block;
  margin: 0 auto;
}

.nps__diagram-image {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
}

.diagram__circle-1 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 10px;
}

.diagram__circle-2 {
  fill: none;
  stroke: #ececec;
  stroke-width: 10px;
  stroke-dasharray: 62% 158%;
  stroke-dashoffset: -95%;
  stroke-linecap: round;
}
  
.diagram__circle-3 {
  fill: none;
  stroke: #70a84b;
  stroke-width: 10px;
  stroke-dasharray: 70% 150%;
  stroke-dashoffset: -28%;
  stroke-linecap: round;
}
  
.diagram__circle-4 {
  fill: none;
  stroke: #fcd329;
  stroke-width: 10px;
  stroke-dasharray: 62% 158%;
  stroke-dashoffset: 35%;
  stroke-linecap: round;
}

.nps__diagram-text {
  padding-top: 10px;
  width: 160px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.text__number {
  font-size: 46px;
  font-family: "Gotham", "Arial", sans-serif;
  position: relative;
}

.text__seven {
  display: inline-block;
  margin-left: -15px;
  font-size: 22px;
}

.text__percent {
  position: absolute;
  top: 0;
  right: 40px;
  font-size: 20px;
}

.text__loyalty {
  font-size: 21px;
  font-weight: 700;
}

.text__under {
  font-weight: 700;
  color: #fbcd11;
}

.text__other {
  display: inline-block;
  padding-bottom: 5px;
  font-size: 12px;
  color: #b9b7c9;
  line-height: 14px;
}

.text__dynamics {
  display: flex;
  justify-content: center;
}

.text__dynamics-number {
  display: block;
}